<div class="row" ng-show="menu">
  <div class="col-lg-12">
    <h1 class="page-header">
      <breadcrumbs ng-model="breadcrumbs"></breadcrumbs>
      <span class="pull-right">
        <button class="btn btn-primary" ng-show="is_editable" ng-click="addItem()"><i class="fa fa-plus"></i> Add Item</button>
        <button class="btn btn-primary" ng-show="is_editable" ng-click="addCategory()"><i class="fa fa-plus"></i> Add Category</button>
        <button class="btn btn-info" ng-show="is_editable" ng-click="editSet()"><i class="fa fa-gear"></i> Edit Menu</button>
        <button class="btn btn-primary" ng-click="openMenuLoader()"><i class="fa fa-table"></i> Open in Loader</button>
        <!-- <button class="btn btn-info" ng-show="is_editable" ng-click="showPromos()"><i class="fa fa-info"></i> Show Main Screen</button> -->
        <button class="btn btn-info" ng-show="can_sync_menu" ng-click="syncMenu()"><i class="fa fa-refresh"></i> Sync with POS</button>
        <button class="btn btn-danger" ng-show="is_editable" ng-click="deleteSet()"><i class="fa fa-trash-o"></i> Delete Menu</button>
      </span>
      <div class="clearfix"></div>
    </h1>
  </div>
</div>

<!-- <ul class="row draglist" ng-show="elements" ondrag="onElementDrag" ondragcomplete="onElementDragComplete"> -->
<ul class="row" ng-show="elements">
  <li class="col-lg-2 col-md-4" ng-repeat="element in elements track by element.entity.token">
    <a ng-click="editElement(element)" class="panel tile" ng-class="{ 'panel-default': !element.entity.type !== 'dmc', 'panel-info': element.entity.type === 'dmc' && element.entity.dmc_device, 'panel-warning': element.entity.type === 'dmc' && !element.entity.dmc_device }">
        <!-- <div class="panel-heading" ng-class="{ 'draglist-handle': is_editable }"> -->
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-9 panel-title">
              <div>
                {{element.entity.title}}
                <span class="pull-right" ng-if="element.entity.schedule"><i class="fa fa-clock-o" tooltip="{{element.entity.schedule | schedule}}"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row text-center">
            <div>
              <span class="preview-block">
                <img ng-show="element.entity.image" ng-src="{{element.entity.image | thumbnail:470:410}}" class="preview-image" />
                <img ng-src="{{null | placeholder:470}}" class="preview-placeholder" />
              </span>
            </div>
            <div>&nbsp;<span ng-if="element.entity.type === 'dmc'">DMC: <b>{{getDeviceName(element)}}</b></span>&nbsp;</div>
          </div>
        </div>
        <div class="panel-footer">
          <span ng-if="element.type === 'category'" class="pull-left">Edit Category</span>
          <span ng-if="element.type === 'item'" class="pull-left">Edit Item</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
    </a>
  </li>
</ul>
