<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ seat.token ? 'Table Edit' : 'New Table' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="deviceedit-title">Name</label>
            <input id="deviceedit-title" class="form-control" ng-model="device.name" required />
          </div>
          <div class="form-group" ng-show="device.role === 1">
            <label for="deviceedit-seat">Table</label>
            <select id="deviceedit-seat" class="form-control" ng-model="device.seat_token">
              <option ng-repeat="seat in seats" value="{{seat.token}}">{{seat.name}}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ device.token ? 'Save' : 'Create' }}</button>
        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="device.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
