<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Hardware Management
    </h1>
  </div>
</div>

<div class="row" ng-show="seats.length >= 0">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>
              Tables
              <span class="pull-right">
                <button class="btn btn-primary" ng-click="addSeat()"><i class="fa fa-list"></i> New Table</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="alert alert-warning" ng-show="seats && seats.length === 0">
          Location does not have any tables.
        </div>

        <div class="col-lg-3 col-md-6" ng-repeat="seat in seats">
          <div class="panel tile" ng-class="{ 'panel-success': getDeviceCount(snap_devices, seat.token) > 0, 'panel-warning': getDeviceCount(snap_devices, seat.token) === 0 }">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-9 panel-title">
                  <div>{{seat.name}}</div>
                </div>
              </div>
            </div>
            <div class="panel-body">
              <div class="row text-center">
                <div>
                  <p>
                    <span>{{getDeviceCount(snap_devices, seat.token)}} {{getDeviceCount(snap_devices, seat.token) === 1 ? 'device' : 'devices'}}</span>
                  </p>
                </div>
              </div>
            </div>
            <a ng-click="editSeat(seat)">
              <div class="panel-footer">
                <span class="pull-left">Edit table</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="snap_devices.length >= 0">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>SNAP Devices</div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="alert alert-warning" ng-show="snap_devices && snap_devices.length === 0">
          Location does not have any devices.
        </div>

        <div class="col-lg-3 col-md-6" ng-repeat="device in snap_devices">
          <div class="panel tile" ng-class="{ 'panel-success': device.seat_token || device.role !== 1, 'panel-warning': !device.seat_token && device.role === 1 }">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-9 panel-title">
                  <div>{{device.name}}</div>
                </div>
              </div>
            </div>
            <div class="panel-body device-snap" ng-class="{ 'device-windows': device.type === 1, 'device-ios': device.type >= 10 && device.type < 20, 'device-android': device.type >= 20 && device.type < 30, 'device-web': device.type >= 30 && device.type < 40 }">
              <div class="row text-center">
                <div>
                  <p>
                    <span ng-show="!device.seat_token && device.type < 30">Not assigned to any tables!</span>
                    <span ng-show="device.seat_token">Assigned to table #{{getSeatName(seats, device.seat_token)}}</span>
                    <span>&nbsp;</span>
                  </p>
                  <span class="device-icon"></span>
                </div>
              </div>
            </div>
            <a ng-click="editDevice(device)">
              <div class="panel-footer">
                <span class="pull-left">Edit device</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="oms_devices.length >= 0">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>OMS Devices</div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="alert alert-warning" ng-show="oms_devices && oms_devices.length === 0">
          Location does not have any devices.
        </div>

        <div class="col-lg-3 col-md-6" ng-repeat="device in oms_devices">
          <div class="panel tile panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-9 panel-title">
                  <div>{{device.name}}</div>
                </div>
              </div>
            </div>
            <div class="panel-body device-oms" ng-class="{ 'device-windows': device.type === 1, 'device-ios': device.type >= 10 && device.type < 20, 'device-android': device.type >= 20 && device.type < 30, 'device-web': device.type >= 30 && device.type < 40 }">
              <div class="row text-center">
                <div>
                  <span class="device-icon"></span>
                </div>
              </div>
            </div>
            <a ng-click="editDevice(device)">
              <div class="panel-footer">
                <span class="pull-left">Edit device</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
