<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ seat.token ? 'Table Edit' : 'New Table' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="seatedit-title">Name</label>
            <input id="seatedit-title" class="form-control" ng-model="seat.name" required />
          </div>
          <div class="form-group" ng-if="locationMap">
            <label for="seatedit-title">Map</label>
            <div class="seatedit-map" ng-click="onMapClick($event)">
              <img ng-src="{{locationMap | thumbnail:1024:768}}" width="100%" />
              <div
                class="seatedit-point"
                ng-style="{ left: (seat.map_position_x * 100) + '%', top: (seat.map_position_y * 100) + '%' }">
                <div></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ seat.token ? 'Save' : 'Create' }}</button>
        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="seat.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
