.mediaselect {
  padding-left:0;
  padding-right:0;

  .row {
    width:270px;
    margin-left:auto;
    margin-right:auto;
    padding:0;
  }

  .preview-box {
    margin:0 auto 1em;
    text-align:center;
    position:relative;
    overflow:hidden;

    .loader {
      display:block;
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      background:url('loader.gif') no-repeat center center;
    }

    .hint {
      position:absolute;
      left:0;
      right:0;
    }

    .preview {
      border:1px solid #ddd;
      width:270px;
      margin:0;
      display:block;
    }
  }

  .preview-controls {
    text-align:center;
  }
}
