<div class="well mediaselect">
  <div class="row">
    <div class="preview-box" ng-style="previewStyle">
      <span class="hint" ng-show="!mediaurl">No file selected</span>
      <span class="loader" ng-show="mediaurl && !loaded"></span>
      <img ng-src="{{mediaurl}}" imageonload onimageload="onImageLoaded()" onimageerror="onImageError()" ng-show="mediaurl && loaded" class="preview" />
    </div>
    <div class="preview-controls">
      <span class="btn btn-info btn-file">
        <i class="fa fa-cloud-upload"></i> Upload new
        <input
          type="file"
          accept="{{mediatype}}"
          ngf-select
          ngf-change="onFileSelect($files, $event)" />
      </span>
      <button type="button" class="btn btn-default" ng-show="!binary" ng-click="showGallery()">Show gallery</button>
      <p class="text-muted" ng-show="mediawidth && mediaheight && !binary">Suggested size: {{mediawidth}}x{{mediaheight}}</p>
    </div>
  </div>
</div>
