<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Duplicate a Menu</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="menusetduplicate-menu">Menu to duplicate</label>
          <select id="menusetduplicate-menu" class="form-control" ng-model="menu" ng-change="onChange()" required>
            <option ng-repeat="m in menus" value="{{m.token}}">{{m.title}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="menusetduplicate-title">New Title</label>
          <input id="menusetduplicate-title" class="form-control" ng-model="title" maxlength="32" required />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="!menu">Duplicate</button>
      </div>
    </form>
  </div>
</div>
