<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Please Sign In</h3></div>
        <div class="panel-body">
          <form role="form" ng-submit="login()">
            <fieldset>
              <div ng-show="error" class="alert alert-danger">
                <span ng-show="error !== 'generic'">{{error}}</span>
                <span ng-show="error === 'generic'">Unable to sign in. Please try again later.</span>
              </div>
              <div class="form-group">
                <input class="form-control" ng-disabled="busy" placeholder="User name" name="username" type="text" ng-model="credentials.username" autofocus required />
              </div>
              <div class="form-group">
                <input class="form-control" ng-disabled="busy" placeholder="Password" name="password" type="password" ng-model="credentials.password" required />
              </div>
              <div class="form-group">
                <button type="submit" ng-disabled="busy" class="btn btn-primary btn-lg btn-block">Sign In</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
