<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ allergen.token ? 'Allergen Edit' : 'New Allergen' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="menuallergenedit-title">Title</label>
          <input id="menuallergenedit-title" class="form-control" ng-model="allergen.title" required maxlength="32" />
        </div>
        <div class="form-group">
          <label>Image</label>
          <mediaselect media="allergen.image" mediawidth="160" mediaheight="160" />
        </div>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <button ng-show="allergen.token" type="button" ng-click="delete()" class="btn btn-danger">Delete</button>
        </span>
        <span class="pull-right">
          <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">{{ allergen.token ? 'Save' : 'Create' }}</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </form>
  </div>
</div>
