<div>
	<div class="row">
	  <div class="col-lg-12">
		<h1>SNAP Dashboard</h1>
		<hr>
		  <h3>New Look</h3>
			<p>Welcome to the new and improved look for managing your SNAP Touch Menu Content!</p>
			<p>Take a minute to look around to get comfortable with the new look.</p>
		  <hr>
	  </div>
	</div>

	<div class="row">
	  <div class="col-lg-12 text-center">
		<h3>Quicklinks</h3>
	  </div>
	</div>

	<div class="row">
	  <div class="col-lg-4 text-center">
		  <figure class="box">
			<a href="#/customization">
			<i class="faIcon fa icon-circle fa-wrench fa-5x"></i>
			<figcaption class="boxCaption">Customize</figcaption>
			</a>
		  </figure>
	  </div>
	  <div class="col-lg-4 text-center">
		  <figure class="box">
			<a href="#/hardware">
			<i class="faIcon fa icon-circle fa-desktop fa-5x"></i>
			<figcaption class="boxCaption">Devices</figcaption>
			</a>
		  </figure>
	  </div>
	  <div class="col-lg-4 text-center">
		  <figure class="box">
			<a href="#/location">
			<i class="faIcon fa icon-circle fa-map-marker fa-5x"></i>
			<figcaption class="boxCaption">Locations</figcaption>
			</a>
		  </figure>
	  </div>
	</div>
	<div class="home-version">{{version}}</div>
</div>
