<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Media Gallery
          <span class="pull-right">
            <button class="btn btn-primary" ng-click="createNewFilter()"><i class="fa fa-plus"></i> Create New Filter</button>
            <button class="btn btn-primary" ng-click="uploadFiles()"><i class="fa fa-cloud-upload"></i> Upload Files...</button>
            <button class="btn btn-danger" ng-show="selectedMedias.length > 0" ng-click="deleteMedias(selectedMedias)"><i class="fa fa-trash-o"></i> Delete File(s)</button>
          </span>
        </h1>
    </div>
</div>
<div ng-repeat="group in medias" class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            {{group.key}}
        </h3>
    </div>
    <ul class="row medialist" ng-show="group">
        <li class="col-xs-3 col-sm-3 col-md-1" ng-repeat="media in group.data" ng-class="isSelected(media)">
            <i ng-click="deleteMedia(media.token)" ng-show="media" class="fa fa-close"></i>
            <img class="lazy" ng-src="{{media.token | thumbnail:160:160}}" ng-click="select(media)" />
        </li>
    </ul>

</div>
