<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ entity.token ? 'Location Edit' : 'New Location' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" autocomplete="off">
          <div class="form-group">
            <label for="useredit-username">Name</label>
            <input id="useredit-username" class="form-control" ng-model="entity.name" required />
          </div>
          <div class="form-group">
            <label>Show request types</label>
            <div class="checkbox" ng-repeat="kind in allKinds">
              <label>
                <input
                  type="checkbox"
                  name="kind[]"
                  value="{{kind.id}}"
                  ng-checked="entity.kinds.indexOf(kind.id) > -1"
                  ng-click="toggleSelection(kind)" />{{kind.name}}
                </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ entity.token ? 'Save' : 'Create' }}</button>
        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="entity.token" class="btn btn-danger" data-dismiss="modal">Delete <i class="fa fa-exclamation-triangle"></i></button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
