<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ user.token ? 'User Edit' : 'New User' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form" autocomplete="off">
          <input style="display:none" type="text" name="fakeusernameremembered"/>
          <input style="display:none" type="password" name="fakepasswordremembered"/>
          <div class="form-group">
            <label for="useredit-username">Username</label>
            <input id="useredit-username" class="form-control" ng-model="user.username" required />
          </div>
          <div class="form-group">
            <label for="useredit-email">E-mail</label>
            <input id="useredit-email" type="email" class="form-control" ng-model="user.email" required />
          </div>
          <div class="form-group" ng-show="!user.token">
            <label for="useredit-password">Password</label>
            <input id="useredit-password" type="password" class="form-control" ng-model="user.password" required />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ user.token ? 'Save' : 'Create' }}</button>
        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="user.token" class="btn btn-danger" data-dismiss="modal">Delete user <i class="fa fa-exclamation-triangle"></i></button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
