<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Users
			<span class="pull-right">
				<button class="btn btn-info" ng-click="addUser()"><i class="fa fa-info"></i> Create User</button>
			</span>
		</h1>
	</div>
</div>

<div class="row" ng-show="users">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<ul class="row">
					<li class="col-lg-3 col-md-6" ng-repeat="user in users">
						<div class="panel panel-default tile">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-9 panel-title">
										<div>{{user.username}}</div>
									</div>
								</div>
							</div>
							<a ng-click="editUser(user)">
								<div class="panel-footer">
									<span class="pull-left">Edit user</span>
									<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
									<div class="clearfix"></div>
								</div>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</form>
