<div class="row" ng-show="item">
  <div class="col-lg-12">
    <h1 class="page-header">
      <breadcrumbs ng-model="breadcrumbs"></breadcrumbs>
      <span class="pull-right">
        <!-- <button class="btn btn-info" ng-click="addPromo()"><i class="fa fa-info"></i> Add to Main Screen</button> -->
        <button type="button" class="btn btn-danger" ng-click="delete()"><i class="fa fa-trash-o"></i> Delete Item</button>
      </span>
      <div class="clearfix"></div>
    </h1>
  </div>
</div>

<form class="row" name="itemedit" role="form" ng-submit="save()" ng-show="item">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="menuitem-title">Title</label>
            <input id="menuitem-title" ng-model="item.title" class="form-control" maxlength="128" required />
          </div>

          <div class="form-group">
            <label for="menuitem-type">Type</label>
            <select id="menuitem-type" ng-disabled="item.type" class="form-control" ng-model="item.type" required>
              <option value="orderable">Orderable item</option>
              <option value="dmc">DMC item</option>
              <option value="website">Website</option>
              <option value="flash">Flash file</option>
            </select>
          </div>

          <div class="form-group" ng-if="item.type === 'website'">
            <label for="menuitem-url">URL</label>
            <input id="menuitem-url" ng-model="item.website" class="form-control" required pattern="https?://.+" />
          </div>

          <div class="form-group" ng-if="item.type === 'flash'">
            <label>Flash file</label>
            <mediaselect media="item.flash" mediatype="application/x-shockwave-flash" />
          </div>

          <div class="form-group" ng-show="item.type === 'orderable' || item.type === 'dmc'">
            <label for="menuitem-description">Description</label>
            <textarea id="menuitem-description" ng-model="item.description" class="form-control" rows="4" maxlength="512"></textarea>
          </div>

          <div class="form-group" ng-show="item.type === 'dmc'">
            <label for="menuitem-ingredients">Ingredients</label>
            <textarea id="menuitem-ingredients" ng-model="item.ingredients" class="form-control" rows="4" maxlength="512"></textarea>
          </div>

          <div class="form-group" ng-if="item.type === 'dmc' || item.type === 'orderable'">
            <div class="col-lg-6">
              <button type="button" class="btn btn-default btn-lg center-block" ng-click="editAllergens()"><i class="fa fa-exclamation-circle"></i> Edit Allergens</button>
            </div>
            <div class="col-lg-6">
              <button type="button" class="btn btn-default btn-lg center-block" ng-click="editModifiers()"><i class="fa fa-cubes"></i> Edit Modifiers</button>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="panel panel-default" ng-if="item.type === 'orderable' || item.type === 'dmc'">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="menuitem-price">Price</label>
                    <div class="input-group">
                      <span class="input-group-addon">{{currency}}</span>
                      <input id="menuitem-price" ng-model="item.order.price" type="number" min="0" step="0.01" max="1000000000" class="form-control" required />
                    </div>
                  </div>
                  <div class="form-group" ng-show="item.type === 'orderable'">
                    <div class="checkbox">
                      <label><input type="checkbox" ng-model="item.refill_enabled" />Refill enabled</label>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4" ng-if="item.type === 'orderable'">
                  <div class="form-group" ng-show="item.refill_enabled">
                    <label for="menuitem-refill_price">Refill price</label>
                    <div class="input-group">
                      <span class="input-group-addon">{{currency}}</span>
                      <input id="menuitem-refill_price" ng-model="item.order_refill.price" type="number" min="0" step="0.01" max="1000000000" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" ng-show="item.type === 'orderable'">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="menuitem-stream">Submit to OMS location</label>
                    <select id="menuitem-stream" class="form-control" ng-model="item.order.stream">
                      <option value="{{null}}">All locations</option>
                      <option ng-repeat="stream in streams" value="{{stream.token}}">{{stream.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">

          <!-- <div class="form-group" ng-show="item.type === 'flash'">
            <label>Game</label>
            <mediaselect mediatype="*/*" media="item.flash" />
          </div>
          <div class="form-group" ng-show="item.type === 'flash'">
            <label for="menuitem-width">Width</label>
            <input id="menuitem-width" ng-model="item.flash.width" type="number" min="0" step="1" class="form-control" required />
          </div>
          <div class="form-group" ng-show="item.type === 3">
            <label for="menuitem-height">Height</label>
            <input id="menuitem-height" ng-model="item.flash.height" type="number" min="0" step="1" class="form-control" required />
          </div> -->
          <div class="form-group">
            <label>Main Image</label>
            <mediaselect media="item.image" mediawidth="470" mediaheight="410" />
          </div>

          <div class="form-group" ng-if="item.type === 'orderable'">
            <button type="button" class="btn btn-default btn-lg center-block"><i class="fa fa-photo"></i> Edit Item Photos</button>
          </div>

          <div class="form-group">
            <label>Show on schedule</label>
            <schedule ng-model="item.schedule" ng-disabled="menu.schedule" />
          </div>

          <div class="form-group" ng-if="item.type === 'dmc'">
            <label for="menuitem-dmc">Show as DMC on device</label>
            <select id="menuitem-dmc" class="form-control" ng-model="item.dmc_device">
              <option value="">Don't show</option>
              <option ng-repeat="device in devices" value="{{device.token}}">{{device.name}}</option>
            </select>
          </div>

          <!-- <div class="panel panel-default" ng-show="item.type === 'orderable'">
            <div class="panel-heading">
              Photos
            </div>
            <div class="panel-body">
              <ul class="nav nav-tabs">
                <li class="active"><a data-target="#item-photo-1" data-toggle="tab">1</a>
                </li>
                <li><a data-target="#item-photo-2" data-toggle="tab">2</a>
                </li>
                <li><a data-target="#item-photo-3" data-toggle="tab">3</a>
                </li>
                <li><a data-target="#item-photo-4" data-toggle="tab">4</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="item-photo-1">
                  <mediaselect mediatoken="item.photo1_token" mediawidth="470" mediaheight="410" />
                </div>
                <div class="tab-pane fade" id="item-photo-2">
                  <mediaselect mediatoken="item.photo2_token" mediawidth="470" mediaheight="410" />
                </div>
                <div class="tab-pane fade" id="item-photo-3">
                  <mediaselect mediatoken="item.photo3_token" mediawidth="470" mediaheight="410" />
                </div>
                <div class="tab-pane fade" id="item-photo-4">
                  <mediaselect mediatoken="item.photo4_token" mediawidth="470" mediaheight="410" />
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-primary btn-lg center-block">Save changes</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</form>
