<div class="row" ng-show="menu">
  <div class="col-lg-12">
    <h1 class="page-header">
      {{menu.token ? 'Menu Edit' : 'New Menu'}}
    </h1>
  </div>
</div>

<form ng-submit="saveMenu()">

<div class="row" ng-show="menu">
  <div class="col-lg-6">
    <div class="well">
      <div class="form-group">
        <label for="menu-title">Title</label>
        <input id="menu-title" ng-model="menu.title" class="form-control" maxlength="128" required />
      </div>
      <div class="form-group" ng-if="menu.token && !menu.type">
        <label>Type</label>
        <select class="form-control" disabled>
          <option selected>Mixed content menu</option>
        </select>
      </div>
      <div class="form-group" ng-if="menu.type">
        <label for="menu-type">Type</label>
        <select id="menu-type" class="form-control" ng-disabled="menu.token" ng-model="menu.type">
          <option value="orderable">Orderable items menu</option>
          <option value="dmc">DMC menu</option>
          <option value="website">Websites menu</option>
          <option value="flash">Flash media menu</option>
        </select>
      </div>
      <div class="form-group">
        <label>Show on schedule</label>
        <schedule ng-model="menu.schedule" />
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <mediaselect media="menu.image" mediawidth="470" mediaheight="410" />
  </div>
</div>

<div class="row" ng-show="menu">
  <div class="col-lg-12" ng-show="menu.type !== 'dmc'">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 panel-title">
            <div>
              Menu Categories
              <span class="pull-right">
                <button type="button" class="btn btn-info" ng-click="createCategory()"><i class="fa fa-plus"></i> Add New Category</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center" ng-show="menu.categories.length === 0">
          <p>This menu has no categories yet.</p>
        </div>

        <div ng-show="menu.categories.length > 0">
          <table width="100%" class="table table-striped table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr class="odd" ng-repeat="category in menu.categories track by $index">
                  <td><input ng-model="category.title" class="form-control" maxlength="32" required /></td>
                  <td class="text-center">
                    <button type="button" class="btn btn-default" ng-click="editMedia(category)">{{category.image ? 'Edit' : 'Add'}}</button>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-warning" ng-click="removeCategory(category)" tabindex="-1">Delete</button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="menu">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 panel-title">
            <div>
              Menu Items
              <span class="pull-right">
                <button type="button" class="btn btn-info" ng-click="createItem()"><i class="fa fa-plus"></i> Add New Item</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center" ng-show="menu.items.length === 0">
          <p>This menu has no items yet.</p>
        </div>

        <div class="dataTable_wrapper" ng-show="menu.items.length > 0">
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
              <thead>
                  <tr>
                    <th>Name</th>
                    <th ng-if="menu.type === 'orderable' || menu.type === 'dmc'">Description</th>
                    <th ng-if="menu.type === 'orderable' || menu.type === 'dmc'">Ingredients</th>
                    <th ng-if="menu.type === 'website'">URL</th>
                    <th ng-if="menu.type !== 'dmc'">Category</th>
                    <th ng-if="menu.type === 'dmc'">DMC Device</th>
                    <th>Image</th>
                    <th ng-if="menu.type === 'orderable' || menu.type === 'dmc'">Allergens</th>
                    <th ng-if="menu.type === 'orderable' || menu.type === 'dmc'">Modifiers</th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr class="odd" ng-repeat="item in menu.items track by $index">
                  <td><input ng-model="item.title" class="form-control spreadsheet-item-title" maxlength="32" required /></td>
                  <td ng-if="menu.type === 'orderable' || menu.type === 'dmc'"><input ng-model="item.description" class="form-control" maxlength="256" /></td>
                  <td ng-if="menu.type === 'orderable' || menu.type === 'dmc'"><input ng-model="item.ingredients" class="form-control" maxlength="256" /></td>
                  <td ng-if="menu.type === 'website'"><input ng-model="item.website" class="form-control" /></td>
                  <td ng-if="menu.type !== 'dmc'">
                    <select class="form-control" ng-model="item.parent">
                      <option value="">None</option>
                      <option ng-repeat="category in menu.categories" value="{{category.token}}">{{category.title}}</option>
                    </select>
                  </td>
                  <td ng-if="menu.type === 'dmc'">
                    <select class="form-control" ng-model="item.dmc_device">
                      <option value="">None</option>
                      <option ng-repeat="device in devices" value="{{device.token}}">{{device.name}}</option>
                    </select>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-default" ng-click="editMedia(item)">{{item.image ? 'Edit' : 'Add'}}</button>
                  </td>
                  <td ng-if="menu.type === 'orderable' || menu.type === 'dmc'" class="text-center">
                    <button type="button" class="btn btn-default" ng-click="editAllergenInfo(item)">Edit</button>
                  </td>
                  <td ng-if="menu.type === 'orderable' || menu.type === 'dmc'" class="text-center">
                    <button type="button" class="btn btn-default" ng-click="editModifiers(item)">Edit</button>
                  </td>
                  <td class="text-center">
                    <button type="button" class="btn btn-warning" ng-click="removeItem(item)" tabindex="-1">Delete</button>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-right">
          <button type="button" class="btn btn-info" ng-click="createItem()"><i class="fa fa-plus"></i> Add New Item</button>
        </span>
        <div class="clearfix"></div>
        <button type="submit" class="btn btn-primary btn-lg center-block">{{menu.token ? 'Save Menu' : 'Create Menu'}}</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

</form>
