<div class="modal">
  <div class="modal-dialog">
    <form class="modal-content" ng-submit="save()">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ item.token ? 'Item Edit' : 'New Item' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="menuitemedit-title">Title</label>
          <input id="menuitemedit-title" class="form-control" ng-model="item.title" maxlength="128" required />
        </div>
        <div class="form-group">
          <label for="menuitemedit-type">Type</label>
          <select id="menuitemedit-type" ng-disabled="menu.type" class="form-control" ng-model="item.type" required>
            <option value="orderable">Orderable item</option>
            <option value="dmc">DMC item</option>
            <option value="website">Website</option>
            <option value="flash">Flash file</option>
          </select>
        </div>
        <div class="row" ng-if="item.type === 'orderable' || item.type === 'dmc'">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="menuitem-price">Price</label>
              <div class="input-group">
                <span class="input-group-addon">{{currency}}</span>
                <input id="menuitem-price" ng-model="item.order.price" type="number" min="0" step="0.01" max="1000000000" class="form-control" required />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Image</label>
          <mediaselect media="item.image" mediawidth="470" mediaheight="410" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">{{ item.token ? 'Save' : 'Create' }}</button>
      </div>
    </form>
  </div>
</div>
