<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Main area advertisements
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="addAdvertisement(1)"><i class="fa fa-info"></i> Create Advertisement</button>
			</span>
		</h1>
	</div>
</div>

<ul class="row draglist" ng-show="advertisements_main" ondrag="onAdvertisementDrag" ondragcomplete="onAdvertisementDragComplete">
	<li class="col-lg-4 col-md-6" ng-repeat="advertisement in advertisements_main">
		<div class="panel panel-primary">
			<div class="draglist-handle panel-heading">
				<div class="row">
					<div class="col-xs-9">
						<div></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
						<img ng-src="{{advertisement.image | thumbnail:970:90}}" class="preview" />
					</div>
				</div>
			</div>
			<a ng-click="editAdvertisement(advertisement)">
				<div class="panel-footer">
					<span class="pull-left">Edit advertisement</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Miscellaneous areas advertisements
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="addAdvertisement(2)"><i class="fa fa-info"></i> Create Advertisement</button>
			</span>
		</h1>
	</div>
</div>

<ul class="row draglist" ng-show="advertisements_misc" ondrag="onAdvertisementDrag" ondragcomplete="onAdvertisementDragComplete">
	<li class="col-lg-2 col-md-6" ng-repeat="advertisement in advertisements_misc">
		<div class="panel panel-primary">
			<div class="draglist-handle panel-heading">
				<div class="row">
					<div class="col-xs-9">
						<div></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
						<img ng-src="{{advertisement.image | thumbnail:300:250}}" class="preview" />
					</div>
				</div>
			</div>
			<a ng-click="editAdvertisement(advertisement)">
				<div class="panel-footer">
					<span class="pull-left">Edit advertisement</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>
