<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ advertisement.token ? 'Advertisement Edit' : 'New Advertisement' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="adedit-url">URL</label>
            <input id="adedit-url" class="form-control" ng-model="advertisement.url" required />
          </div>
          <div class="form-group">
            <label>Image</label>
            <mediaselect mediatype="image/*" mediatoken="advertisement.image" mediawidth="{{mediawidth}}" mediaheight="{{mediaheight}}" onmediaselected="imageSelected" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ advertisement.token ? 'Save' : 'Create' }}</button>

        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="advertisement.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
