<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      SNAP Player
    </h1>
  </div>
</div>

<div class="row" ng-show="presentations.length >= 0">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>
              Digital Signage
              <span class="pull-right">
                <button class="btn btn-primary" ng-click="create()"><i class="fa fa-list"></i> Create New</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="alert alert-warning" ng-show="presentations && presentations.length === 0">
          Location does not have any content.
        </div>

        <div class="col-lg-3 col-md-6" ng-repeat="presentation in presentations">
          <div class="panel tile panel-info">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-9 panel-title">
                  <div>{{presentation.name}}</div>
                </div>
              </div>
            </div>
            <a href="#/presentation/{{presentation.token}}">
              <div class="panel-footer">
                <span class="pull-left">Edit</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
