<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Slide Options</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="slideedit-layout">Layout</label>
            <select id="slideedit-layout" class="form-control" ng-model="entity.layout" required>
              <option value="3" selected>3 elements</option>
              <option value="4" selected>4 elements</option>
            </select>
          </div>
          <div class="form-group">
            <label for="slideedit-transition">Transition</label>
            <select id="slideedit-transition" class="form-control" ng-model="entity.transition" required>
              <option value="fade" selected>Fade</option>
              <option value="kenburns" selected>Ken Burns effect</option>
            </select>
          </div>
          <div class="form-group">
						<label for="slideedit-transitiondelay">Transition delay</label>
						<select id="slideedit-transitiondelay" name="slideedit-transitiondelay" class="form-control" ng-model="entity.transition_delay" required>
							<option value="10000">10 seconds</option>
              <option value="20000">20 seconds</option>
							<option value="30000">30 seconds</option>
              <option value="40000">40 seconds</option>
              <option value="50000">50 seconds</option>
							<option value="60000">1 minute</option>
							<option value="120000">2 minutes</option>
						</select>
					</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
        <!-- <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="entity.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </span> -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
