<div class="slideslot" ng-click="edit()">
  <span class="hint" ng-if="!entity.content && entity.type !== 'oms'">Click to add element</span>

  <span class="text" ng-if="entity.type === 'text' && entity.content">{{entity.content}}</span>

  <b class="hint" ng-if="entity.type === 'url'">URL</b>

  <b class="hint" ng-if="entity.type === 'oms'">OMS Queue</b>

  <img class="slideslot-media" ng-src="{{entity.content | thumbnail:960:490:'png'}}" ng-if="entity.type === 'media' && entity.layout === 'wide'" />
  <img class="slideslot-media" ng-src="{{entity.content | thumbnail:960:980:'png'}}" ng-if="entity.type === 'media' && entity.layout === 'tall'" />
</div>
