<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      {{presentation.name}}
      <span class="pull-right">
        <button type="button" class="btn btn-danger" ng-click="delete()"><i class="fa fa-exclamation-triangle"></i> Delete</button>
      </span>
    </h1>
  </div>
</div>

<form class="row" role="form" novalidate ng-submit="save()" ng-show="presentation">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="presentation-hardware">Show on device</label>
          <select id="presentation-hardware" class="form-control" ng-model="presentation.hardware">
            <option value="">Don't show</option>
            <option ng-repeat="device in devices" value="{{device.token}}">{{device.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>
              Slides
              <span class="pull-right">
                <button type="button" class="btn btn-primary" ng-click="add()"><i class="fa fa-list"></i> Add New Slide</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        <div class="alert alert-warning" ng-show="presentation.slides.length === 0">
          No slides created.
        </div>

        <ol class="row slides">
          <li class="slide" ng-repeat="slide in presentation.slides">
            <div class="canvas" ng-if="slide.layout === '3'">
              <img ng-src="{{slide.background | thumbnail:1920:1080}}" class="canvas-bg" />

              <slideslot class="canvas-element canvas-tl" slide="slide" slot="1" layout="wide" />
              <slideslot class="canvas-element canvas-r" slide="slide" slot="2" layout="tall" />
              <slideslot class="canvas-element canvas-bl" slide="slide" slot="3" layout="wide" />
              <slideslot class="canvas-element canvas-b" slide="slide" slot="5" type="text" />
            </div>
            <div class="canvas" ng-if="slide.layout === '4'">
              <img ng-src="{{slide.background | thumbnail:1920:1080}}" class="canvas-bg" />

              <slideslot class="canvas-element canvas-tl" slide="slide" slot="1" layout="wide" />
              <slideslot class="canvas-element canvas-tr" slide="slide" slot="2" layout="wide" />
              <slideslot class="canvas-element canvas-bl" slide="slide" slot="3" layout="wide" />
              <slideslot class="canvas-element canvas-br" slide="slide" slot="4" layout="wide" />
              <slideslot class="canvas-element canvas-b" slide="slide" slot="5" type="text" />
            </div>
            <div class="form-group">
              <span class="btn btn-default btn-file">
                <i class="fa fa-cloud-upload"></i> Change background
                <input
                  type="file"
                  accept="image/*,video/*'"
                  ngf-select
                  ngf-change="onBackgroundSelect($files, slide)" />
              </span>
              <button type="button" class="btn btn-default" ng-click="edit(slide)">Edit Options</button>
              <button type="button" class="btn btn-danger" ng-click="remove(slide)"><i class="fa fa-exclamation-triangle"></i> Delete</button>
            </div>
          </li>
        </ol>

      </div>
      <div class="panel-footer">
        <span class="pull-left">
          <button type="submit" name="submit" class="btn btn-primary">Save changes</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</form>
