<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Slot Options</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group" ng-show="!entity.type">
            <label for="slotedit-type">Content type</label>
            <select id="slotedit-type" class="form-control" ng-model="entity.type" required>
              <option value="media">Media file</option>
              <option value="url">Web</option>
              <option value="oms">OMS queue</option>
              <!-- <option value="text">Text area</option> -->
            </select>
          </div>
          <div class="form-group" ng-if="entity.type === 'media'">
            <mediaselect mediatype="*/*" mediatoken="entity.content" />
          </div>
          <div class="form-group" ng-if="entity.type === 'text'">
            <label for="slotedit-text">Text</label>
            <textarea id="slotedit-text" ng-model="entity.content" class="form-control" rows="4"></textarea>
          </div>
          <div class="form-group" ng-if="entity.type === 'url'">
            <label for="slotedit-url">URL</label>
            <input id="slotedit-url" ng-model="entity.content" class="form-control" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
        <span class="pull-left">
          <button type="button" ng-click="clear()" class="btn btn-danger" data-dismiss="modal">Clear</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
