<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Allergens
      <span class="pull-right">
        <button class="btn btn-primary" ng-click="createAllergen()"><i class="fa fa-plus"></i> Create New Allergen</button>
      </span>
    </h1>
  </div>
</div>

<ul class="row" ng-show="allergens">
  <li class="col-lg-2 col-md-4" ng-repeat="allergen in allergens track by allergen.token">
    <a ng-click="editAllergen(allergen)" class="panel panel-default tile">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9">
            <div>{{allergen.title}}</div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <span class="preview-block">
            <img ng-show="allergen.image" ng-src="{{allergen.image | thumbnail:160:160}}" class="preview-image" />
            <img ng-src="{{null | placeholder:160}}" class="preview-placeholder" />
          </span>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Edit</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </li>
</ul>
