<div class="input-group">
  <div class="form-control" ng-disabled="ngDisabled">
    {{ngModel | schedule}}
  </div>
  <span class="input-group-btn">
    <button class="btn btn-default" ng-disabled="ngDisabled" type="button" ng-click="edit()">Edit</button>
  </span>
</div>
