@import './variables.less';

.logo {
  width:100px;
  height:28px;
  background:url('@{images}/logo.png');
}

.preview {
  width:90%;
  display:inline-block;
}

.preview-image {
  width:90%;
  display:inline-block;
  position: absolute;
}

.preview-placeholder {
  width:90%;
  display:inline-block;
}

.preview-block {
  display:inline-block;
  position:relative;
}

.preview-controls {
  ul {
    li {
      padding-top:3px;
      padding-bottom:3px;
    }
  }
}
#registration-form {
  width: 300px;
}

#registration-form input, #registration-form select {
  width: 100%;
}

#registration-form input[type="submit"] {
  width: auto;
  font-size: 2em;
  margin-right: 1em;
  margin-top: 1em;
}

ul.row{
  list-style-type:none;
}

.modal ul {
  list-style-type:none;
}

.draglist-handle{
  cursor: move;
}

.draglist {
  list-style-type:none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-title{
  white-space: nowrap;
  overflow:hidden;
  width:100%;
}

a.tile {
  //border-width:0;
  display:block;
  text-decoration: none !important;
}

.tile .panel-body{
  background:#ddd;
}

.tile .panel-body img{
  margin:2px;
}

.seatedit-map{
  width:512px;
  height:384px;
  position:relative;
  overflow:hidden;
  cursor:pointer;
}
.seatedit-point{
  position:absolute;
  width:10px;
  height:10px;
}
.seatedit-point div{
  position:relative;
  width:100%;
  height:100%;
  left:-50%;
  top:-50%;
  background:red;
  border-radius:5px;
  border:1px solid #333;
}

.device-icon {
  width:100px;
  height:100px;
  margin:0 auto;
  display:block;
}

.device-ios .device-icon {
  background-image:url('@{images}/icon-ios.png');
}

.device-android .device-icon {
  display:block;
  background-image:url('@{images}/icon-android.png');
}

.device-windows .device-icon {
  display:block;
  background-image:url('@{images}/icon-windows.png');
}

.slides {
  list-style-type:none;

  .slide {
    margin:0 0 2em;
    padding:0;

    .canvas {
      width:768px;
      height:432px;
      margin-bottom:1em;
      background:#000;
      overflow:hidden;
      position:relative;

      .canvas-bg {
        width:100%;
      }

      .canvas-element {
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        overflow:hidden;
        border:1px dashed #ccc;

        &.canvas-tl {
          bottom:auto;
          right:auto;
          width:50%;
          height:196px;
        }

        &.canvas-tr {
          bottom:auto;
          left:auto;
          width:50%;
          height:196px;
        }

        &.canvas-r {
          bottom:40px;
          left:auto;
          width:50%;
        }

        &.canvas-bl {
          bottom:40px;
          top:auto;
          right:auto;
          width:50%;
          height:196px;
        }

        &.canvas-br {
          bottom:40px;
          top:auto;
          left:auto;
          width:50%;
          height:196px;
        }

        &.canvas-b {
          top:auto;
          height:40px;
        }
      }
    }
  }
}

.slideslot {
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
  cursor:pointer;
  transform-style: preserve-3d;

  .hint {
    display:block;
    text-align:center;
    color:#ccc;
    width:100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .text {
    display:block;
    text-align:center;
    color:#fff;
    width:100%;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
  }

  .slideslot-media {
    width:100%;
    height:100%;
    position: absolute;
  }
}

.modal-scrollable-body {
  max-height:50em;
  overflow: auto;
}

.medialist {
  padding-left:0;
  li {
    &.selected{
      img {
        border: 10px solid #000080;
      }
    }
    margin-bottom:1em;
    img {
      width:120px;
      height:120px;
      display:block;
      cursor:pointer;
      background:#efefefe;
    }
  }

}

.breadcrumbs {
  padding:0;
  margin:0;
  list-style-type: none;
  display: inline-block;
  color:#ccc;
  font-size:0.8em;

  li {
    padding:0;
    margin:0 0.25em 0 0;
    display: inline-block;

    a {
      text-decoration: none;
    }

    span {
      color:#666;
    }
  }

  li:after {
    content: '/';
  }

  li:last-child:after {
    content: '';
  }
}

.page-header {
  //padding-bottom: 3em;
}
.panel-heading .row {
  white-space: nowrap;
  overflow: hidden;
}

.modifiers-list {
  min-height:15em;
  padding-left:0;

  li {
    margin-left:0;

    button {
      cursor:pointer;
    }
  }
}

div.awesomplete {
    display: block;
}

.home-version {
  position:absolute;
  bottom:1em;
  right:1em;
  font-size:0.75em;
  text-align:right;
  color:#aaa;
}
.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
}
.dragover {
  border: 5px dashed blue;
}
ul.medialist{
  padding-left: 20px;
}