doctype html
html(lang='en')
  head
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    link(href='/favicon.ico',rel='icon',type='image/x-icon')
    block head
  body(ng-app='app')
    #wrapper
      block body
    adminmodal
