<div class="modal">
  <div class="modal-dialog modal-lg">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Select Menus to Submit</h4>
      </div>
      <div class="modal-body modal-scrollable-body">
        <ul class="draglist" ng-show="items" ondrag="onElementDrag" ondragcomplete="onElementDragComplete">
          <li class="col-lg-3 col-md-3" ng-repeat="item in items track by item.menu.token">
            <a ng-click="toggle(item)" class="panel panel-default tile" ng-class="{ 'panel-info': item.selected }">
              <div class="draglist-handle panel-heading">
                <div class="row">
                  <div class="col-xs-9">
                    <div>{{item.menu.title}}</div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row text-center">
                  <span class="preview-block">
                    <img ng-show="item.menu.image" ng-src="{{item.menu.image | thumbnail:470:410}}" class="preview-image" />
                    <img ng-src="{{null | placeholder:470}}" class="preview-placeholder" />
                  </span>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">{{ item.selected ? 'Exclude' : 'Include' }}</span>
                <span class="pull-right"><i class="fa" ng-class="{ 'fa-minus-circle': item.selected, 'fa-plus-circle': !item.selected }"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
