.snapmenu {
  position:relative;
  overflow:hidden;
  background:#000;
  width:960px;
  height:540px;

  .backgrounds {
    list-style-type: none;
    padding:0;
    margin:0;
    position:absolute;
    width:100%;
    height:100%;

    li {
      padding:0;
      margin:0;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;

      img {
        width:100%;
      }
    }
  }

  .menus {
    list-style-type: none;
    padding:0 50px;
    margin:0;
    position:absolute;
    left:0;
    width:2000px;
    top:170px;
    bottom:0;
    overflow-x: scroll;
    overflow-y: hidden;

    li {
      padding:0;
      margin:0 30px 0 0;
      width:235px;
      height:210px;
      float:left;
      position: relative;

      img {
        width:100%;
      }

      span {
        display: block;
        color:white;
        position:absolute;
        left:0;
        right:0;
        top:90px;
        text-align:center;
        text-transform: uppercase;
        font-size:1.5em;
      }
    }
  }
}
