<div class="snapmenu">
  <ul class="backgrounds">
    <li ng-repeat="background in backgrounds"><img ng-src="{{background.media | thumbnail:1920:1080}}" /></li>
  </ul>

  <ul class="menus">
    <li ng-repeat="menu in menus">
      <img ng-src="{{menu.image | thumbnail:470:410}}" />
      <span>{{menu.title}}</span>
    </li>
  </ul>
</div>
