<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Media Files</h4>
            </div>
            <div class="modal-body">
                <div class="well mediaselect">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <input id="category" name="category" ng-model="category" minlength="3" maxlength="30" class="form-control" />
                    </div>
                    <div class="preview-box drop-box" ngf-drop  ng-model="files" ngf-drag-over-class="'dragover'"
                         ngf-multiple="true" ngf-allow-dir="true" accept="image/*, audio" ngf-pattern="'image/*, application/pdf'">
                        <h4>Please select files</h4>
                        <span class="btn btn-info btn-file">
                            <i class="fa fa-cloud-upload"></i>Select Files
                            <input  type="file"
                                    ngf-select ng-model="files"
                                    multiple
                                    accept="image/*"
                                    ngf-max-size="2MB"
                                    required
                                    ngf-model-invalid="errorFile">
                            </input>
                        </span>
                        <button type="button" class="btn btn-default" ng-click="uploadFiles(files)" ng-show="!binary" >
                            Start Upload
                        </button>
                    </div>
                    <ul class="modifiers-list draglist" ng-show="files.length > 0">
                        <li ng-repeat="file in files">
                            <div class="draglist-handle alert alert-info alert-dismissable" ng-show="file">
                                <button type="button" class="close" ng-click="file=null" aria-hidden="true">&times;</button>
                                <img
                                        ngf-src="file"
                                        ngf-resize="{width: 50, height: 50, quality: 1}"
                                        ngf-no-object-url="false"
                                        >
                                {{file.name}}
                            </div>
                        </li>
                        <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
                        </li>
                    </ul>
                 </div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Ok</button>
                <span class="pull-left">
                  <button type="button" ng-click="delete()" ng-show="background.token" class="btn btn-danger"
                          data-dismiss="modal">Delete
                  </button>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


