<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Modifier Categories
      <span class="pull-right">
        <button class="btn btn-primary" ng-click="createModifier()"><i class="fa fa-plus"></i> Create New Modifier Category</button>
      </span>
    </h1>
  </div>
</div>

<ul class="row" ng-show="modifiers">
  <li class="col-lg-12 col-md-12" ng-repeat="modifier in modifiers track by modifier.token">
    <a ng-click="editModifier(modifier)" class="panel panel-default tile">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9">
            <div>{{modifier.title}}</div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-lg-2 col-xs-4" ng-repeat="item in getItems(modifier) track by item.token">
          <div class="well well-sm text-center">
            <span class="preview-block">
              <img ng-show="item.image" ng-src="{{item.image | thumbnail:160:160}}" class="preview-image" />
              <img ng-src="{{null | placeholder:160}}" class="preview-placeholder" />
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Edit</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </li>
</ul>
