<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ category.token ? 'Category Edit' : 'New Category' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="menucategoryedit-title">Title</label>
          <input id="menucategoryedit-title" class="form-control" ng-model="category.title" maxlength="32" required />
        </div>
        <div class="form-group">
          <label>Image</label>
          <mediaselect media="category.image" mediawidth="470" mediaheight="410" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">{{ category.token ? 'Save' : 'Create' }}</button>
      </div>
    </form>
  </div>
</div>
