<div class="row">
  <div class="col-lg-12">
  	<h1 class="page-header">
      Active Snapshot
      <span class="pull-right">
        <button class="btn btn-primary" ng-click="addMenu()"><i class="fa fa-plus"></i> Create New Snapshot</button>
      </span>
    </h1>
  </div>
</div>

<div class="row" ng-repeat="deployment in activeDeployments">
	<div class="col-lg-12">
    <snapmenu deployment="deployment.content" />
	</div>
</div>
