<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ menu.token ? 'Menu Edit' : 'New Menu' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="menusetedit-title">Title</label>
          <input id="menusetedit-title" class="form-control" ng-model="menu.title" maxlength="32" required />
        </div>
        <div class="form-group">
          <label for="menusetedit-type">Type</label>
          <select id="menusetedit-type" class="form-control" ng-disabled="menu.token" ng-model="menu.type" required>
            <option value="orderable">Orderable items menu</option>
            <option value="dmc">DMC menu</option>
            <option value="website">Websites menu</option>
            <option value="flash">Flash media menu</option>
            <option value="">Mixed content</option>
          </select>
        </div>
        <div class="form-group">
          <label>Show on schedule</label>
          <schedule ng-model="menu.schedule" />
        </div>
        <div class="form-group">
          <label>Image</label>
          <mediaselect media="menu.image" mediawidth="470" mediaheight="410" onmedia="onMenuImage" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">{{ menu.token ? 'Save' : 'Create' }}</button>
      </div>
    </form>
  </div>
</div>
