<nav role="navigation" class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar">&nbsp;</span>
      <span class="icon-bar">&nbsp;</span>
      <span class="icon-bar">&nbsp;</span>
    </button>
    <span class="navbar-brand"><div class="logo"></div></span>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown" ng-show="location">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-tasks fa-fw"></i> {{location.name}} <i class="fa fa-caret-down" ng-show="parentLocation != null || locations.length > 0"></i>
      </a>
      <ul class="dropdown-menu dropdown-alerts" ng-show="parentLocation != null || locations.length > 0">
        <li ng-repeat="location in locations" ng-show="locations.length > 0">
            <a ng-click="switchLocation(location)"><i class="fa fa-fw" ng-class="{ 'fa-glass': location.type == 'Facility', 'fa-briefcase': location.type == 'Business' }"></i> {{location.name}}</a>
        </li>
        <li class="divider" ng-show="parentLocation != null && locations.length > 0"></li>
        <li ng-show="parentLocation">
            <a class="text-center" ng-click="switchLocation(parentLocation)">
                <strong>Back to {{parentLocation.name}}</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
      </ul>
    </li>
    <li class="dropdown" ng-show="profile">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user fa-fw"></i> {{profile.username}} <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-use">
        <li ng-if="extended"><a><i class="fa fa-user fa-fw"></i> Profile</a></li>
        <li ng-if="extended"><a><i class="fa fa-gear fa-fw"></i> Settings</a></li>
        <li ng-if="extended" class="divider"></li>
        <li><a ng-click="userLogout()"><i class="fa fa-sign-out fa-fw"></i> Log Out</a></li>
      </ul>
    </li>
  </ul>

  <div role="navigation" class="navbar-default sidebar">
    <div class="sidebar-nav navbar-collapse" ng-show="extended">
      <ul id="side-menu" class="nav" ng-show="location && profile">
        <li>
          <a href="#/menu"><i class="fa fa-th"></i> Customize Menus<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li><a href="#/menu/set">Menus and Subscriptions</a></li>
            <li><a href="#/menu/modifier">Modifiers Gallery</a></li>
            <li><a href="#/menu/allergen">Allergens List</a></li>
          </ul>
        </li>
        <li><a href="#/customization"><i class="fa fa-desktop"></i> Customize UI</a></li>
        <li><a href="#/advertisement"><i class="fa fa-bullhorn"></i> Customize Advertisements</a></li>
        <li ng-if="location.type !== 1"><a href="#/survey"><i class="fa fa-map-marker"></i> User Survey</a></li>
        <li ng-if="location.type === 3"><a href="#/hardware"><i class="fa fa-briefcase"></i> Hardware Management</a></li>
        <!-- <li><a href="#/presentation"><i class="fa fa-play-circle"></i> SNAP Player</a></li> -->
        <li><a href="#/location"><i class="fa fa-gear"></i> Location Options</a></li>
        <li ng-if="location.type === 1"><a href="#/analytics"><i class="fa fa-briefcase"></i> Analytics</a></li>
        <li><a href="#/media-gallery"><i class="fa fa-photo"></i> Media Gallery</a></li>
      </ul>
      <p ng-if="location.type === 3"><br/><button type="button" class="btn btn-primary center-block" ng-click="submitSnap()">Submit to SNAP</button></p>
    </div>
  </div>
</nav>
