<div class="modal">
  <div class="modal-dialog">
    <form role="form" ng-submit="save()" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ item.token ? 'Modifier Edit' : 'New Modifier' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="modifieritemedit-title">Title</label>
          <input id="modifieritemedit-title" class="form-control" ng-model="item.title" required maxlength="32" />
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label for="modifieritemedit-mode">Selection mode</label>
              <select id="modifieritemedit-mode" class="form-control" ng-model="item.selection" required>
                <option value="toggle">On/Off</option>
                <option value="states">Light/Regular/Strong</option>
              </select>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label for="modifieritemedit-price">Price</label>
              <div class="input-group">
                <span class="input-group-addon">{{currency}}</span>
                <input id="modifieritemedit-price" ng-model="item.order.price" type="number" min="0" step="0.01" max="1000000000" class="form-control" required />
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>&nbsp;</label>
              <div class="input-group">
                <div class="checkbox">
                  <label><input type="checkbox" ng-model="item.is_default"  /> Selected by default</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Image</label>
          <mediaselect media="item.image" mediawidth="160" mediaheight="160" />
        </div>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <button ng-show="item.token" type="button" ng-click="delete()" class="btn btn-danger">Delete</button>
        </span>
        <span class="pull-right">
          <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">{{ item.token ? 'Save' : 'Create' }}</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
