<div class="row" ng-show="initialized">
  <div class="col-lg-12">
		<h1>{{application === 'oms' ? 'OMS' : 'SNAP'}} Signup</h1>
		<hr/>
  </div>
</div>

<div class="row" ng-show="initialized && location.type !== 3">
	<div class="col-md-6">
		<div class="alert alert-warning">
			Current location does not support device registration. Please selected another location from the locations menu.
		</div>
	</div>
</div>

<form class="row" role="form" novalidate ng-submit="submitRegistration()" ng-show="initialized && location.type === 3">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-9 panel-title">
						<div>
							New Device
							<span ng-if="application === 'snap'" class="pull-right">
								<button type="button" class="btn btn-default" ng-click="addSeat()"><i class="fa fa-list"></i> Create a new table</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="device-name">Name</label>
					<input id="device-name" ng-model="device.name" class="form-control" required />
				</div>
				<div class="form-group" ng-if="application === 'snap'">
					<label for="device-seat">Table</label>
					<select id="device-seat" class="form-control" ng-model="device.seat_token" ng-options="seat.token as seat.name for seat in seats" required>
					</select>
				</div>
			</div>
			<div class="panel-footer">
				<span class="pull-right">
					<button type="submit" class="btn btn-primary">Register a new device</button>
					<button type="button" class="btn btn-default" ng-click="cancelRegistration()">Cancel</button>
				</span>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</form>
