<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
        <h4 class="modal-title">{{ data.title || 'Message' }}</h4>        
      </div>
      <div class="modal-body">
        <p>{{ data.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="close()">OK</button>
      </div>
    </div>
  </div>
</div>
