<div class="modal">
  <div class="modal-dialog modal-lg">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Allergens List Edit</h4>
      </div>
      <div class="modal-body modal-scrollable-body">
        <ul ng-show="items">
          <li class="col-lg-2 col-md-4" ng-repeat="item in items track by item.allergen.token">
            <a ng-click="toggle(item)" class="panel panel-default tile" ng-class="{ 'panel-info': item.selected }">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-9">
                    <div>{{item.allergen.title}}</div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <div class="row text-center">
                  <span class="preview-block">
                    <img ng-show="item.allergen.image" ng-src="{{item.allergen.image | thumbnail:160:160}}" class="preview-image" />
                    <img ng-src="{{null | placeholder:160}}" class="preview-placeholder" />
                  </span>
                </div>
              </div>
              <div class="panel-footer">
                <span class="pull-left">{{ item.selected ? 'Remove' : 'Add' }}</span>
                <span class="pull-right"><i class="fa" ng-class="{ 'fa-minus-circle': item.selected, 'fa-plus-circle': !item.selected }"></i></span>
                <div class="clearfix"></div>
              </div>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <span class="pull-right">
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </span>
      </div>
    </form>
  </div>
</div>
