<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ data.title || 'Please confirm' }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ data.message }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="no()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="yes()">OK</button>
      </div>
    </div>
  </div>
</div>
