<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Media file</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <mediaselect
            mediatype="*/*"
            media="options.media"
            mediawidth="{{options.mediawidth}}"
            mediaheight="{{options.mediaheight}}"
            onmedia="onMedia" />
        </div>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <button type="button" ng-show="options.media" class="btn btn-default" ng-click="clear()">Clear</button>
        </span>
        <span class="pull-right">          
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        </span>
      </div>
    </div>
  </div>
</div>
