<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Media gallery</h4>
      </div>
      <div class="modal-body modal-scrollable-body">
        <div class="progress progress-striped active" ng-show="!medias">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" />
        </div>
        <ul class="row medialist" ng-show="medias">
          <li class="col-xs-6 col-md-2" ng-repeat="media in medias">
            <img class="lazy" ng-src="{{media.token | thumbnail:160:160}}" ng-click="select(media)" />
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <span class="pull-right">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </span>
      </div>
    </div>
  </div>
</div>
