<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modifiers List Edit</h4>
      </div>
      <div class="modal-body">
        <div class="form-group input-group">
          <select id="modifiersedit-list" class="form-control" ng-disabled="allModifiers.length === 0" ng-model="modifier">
            <option ng-repeat="modifier in allModifiers track by modifier.token" value="{{modifier.token}}">{{modifier.title}}</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="add()" ng-disabled="!modifier || allModifiers.length === 0"><i class="fa fa-plus-circle"></i> Add</button>
          </span>
        </div>
        <h4>Selected Modifiers</h4>
        <ul class="modifiers-list draglist" ng-show="selectedModifiers.length > 0" ondrag="onElementDrag" ondragcomplete="onElementDragComplete">
          <li ng-repeat="entity in selectedModifiers track by entity.modifier.token">
            <div class="draglist-handle alert alert-info alert-dismissable">
              <button type="button" class="close" ng-click="remove(entity)" aria-hidden="true">&times;</button>
              {{entity.modifier.title}}
            </div>
          </li>
        </ul>
        <div class="well" ng-show="selectedModifiers.length === 0">
          <p>No modifiers selected for this item.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <span class="pull-right">
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </span>
      </div>
    </form>
  </div>
</div>
