<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Please stand by...</h4>
      </div>
      <div class="modal-body">
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" ng-style="{ width: progress + '%' }" aria-valuemin="0" aria-valuemax="100" style="width: 100%" />
        </div>
      </div>
    </div>
  </div>
</div>
