<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Schedule</h4>
      </div>
      <div class="modal-body">
        <div class="col-lg-6">
          <div class="form-group">
            <label for="schedule-input-start">Start time</label>
            <div class="input-group bootstrap-timepicker timepicker">
              <input id="schedule-input-start" type="text" class="timepicker form-control input-small">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="schedule-input-end">End time</label>
            <div class="input-group bootstrap-timepicker timepicker">
              <input id="schedule-input-end" type="text" class="timepicker form-control input-small">
              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
        </span>
        <span class="pull-right">
          <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
        </span>
      </div>
    </div>
  </div>
</div>
