<div class="input-group">
  <div class="form-control">
    {{stringify(ngModel)}}
  </div>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button" ng-click="edit()">Edit</button>
  </span>
</div>
