<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ question.token ? 'Question Edit' : 'New Question' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="question-text">Text</label>
            <input id="question-text" class="form-control" ng-model="question.text" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ question.token ? 'Save' : 'Create' }}</button>
      </div>
    </div>
  </div>
</div>
