<div class="row" ng-show="initialized">
	<div class="col-lg-12">
		<h1 class="page-header">
			User Survey
			<span class="pull-right">
				<button class="btn btn-info" ng-show="!survey" ng-click="createSurvey()"><i class="fa fa-info"></i> Create Survey</button>
				<button class="btn btn-danger" ng-show="survey" ng-click="deleteSurvey()"><i class="fa fa-exclamation-triangle"></i> Delete Survey</button>
			</span>
		</h1>
	</div>
</div>

<div class="row" ng-show="!survey && initialized">
	<div class="alert alert-warning" ng-show="!parent_survey">
		Location does not have its own survey. If the parent location has a survey, it will be used instead.
	</div>
</div>

<form class="row" role="form" novalidate ng-submit="save()" ng-show="survey && initialized">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="draglist-handle panel-heading">
				<div class="row">
					<div class="col-xs-9 panel-title">
						<div>
							Questions
							<span class="pull-right">
								<button class="btn btn-default" ng-click="createQuestion()"><i class="fa fa-list"></i> New Question</button>
							</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="col-lg-6">
					<ul class="draglist" ondrag="onQuestionDrag" ondragcomplete="onQuestionDragComplete">
						<li class="alert alert-info alert-dismissable" ng-repeat="question in survey.questions">
							<button type="button" class="close" aria-hidden="true" ng-click="deleteQuestion(question)">&times;</button>
              <span class="draglist-handle">{{ question.text }}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</form>
