<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Backgrounds
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="addBackground()"><i class="fa fa-info"></i> Add Background</button>
			</span>
		</h1>
	</div>
</div>

<ul class="row draglist" ng-show="backgrounds" ondrag="onDrag" ondragcomplete="onBackgroundDragComplete">
	<li class="col-lg-3 col-md-6" ng-repeat="item in backgrounds">
		<div class="panel panel-primary tile">
			<div class="draglist-handle panel-heading">
				<div class="row">
					<div class="col-xs-9">
						<div></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
						<img ng-src="{{item.image || item.video | thumbnail:1280:720}}" class="preview" />
					</div>
				</div>
			</div>
			<a ng-click="editBackground(item)">
				<div class="panel-footer">
					<span class="pull-left">Edit background</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Screensavers
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="addScreensaver()"><i class="fa fa-info"></i> Add Screensaver</button>
			</span>
		</h1>
	</div>
</div>

<ul class="row draglist" ng-show="screensavers" ondrag="onDrag" ondragcomplete="onScreensaverDragComplete">
	<li class="col-lg-3 col-md-6" ng-repeat="item in screensavers">
		<div class="panel panel-primary tile">
			<div class="draglist-handle panel-heading">
				<div class="row">
					<div class="col-xs-9">
						<div></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
						<img ng-src="{{item.image || item.video | thumbnail:1280:720}}" class="preview" />
					</div>
				</div>
			</div>
			<a ng-click="editScreensaver(item)">
				<div class="panel-footer">
					<span class="pull-left">Edit screensaver</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			UI Elements
			<span class="pull-right">
				<button class="btn btn-primary" ng-click="addElement()"><i class="fa fa-info"></i> Add UI Element</button>
			</span>
		</h1>
	</div>
</div>

<ul class="row draglist" ng-show="elements">
	<li class="col-lg-3 col-md-6" ng-repeat="item in elements">
		<div class="panel panel-primary tile">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-9">
						<div></div>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
						<img ng-src="{{item.image | thumbnail:160:160:'png'}}"/>
					</div>
				</div>
			</div>
			<a ng-click="editElement(item)">
				<div class="panel-footer">
					<span class="pull-left">Edit {{getElementName(item.type)}}</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>
