<div class="modal fade">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{{ element.token ? 'Element Edit' : 'New Element'}}</h4>
	  </div>
	  <div class="modal-body">
	    <form role="form">
		  <div class="form-group">
			<label>Image</label>
			<mediaselect mediatype="image/*" mediatoken="element.image" mediawidth="160" mediaheight="160" onmediaselected="imageSelected"/>
		  </div>
		  <div class="form-group">
			<label>Type</label>
			<select class="form-control" ng-model="element.type" required>
			  <option value="1" selected>Home Button</option>
			  <option value="2">Back Button</option>
			  <option value="3">Cart Button</option>
			  <option value="4">Rotate Button</option>
			  <option value="5">Request Waiter Button</option>
			  <option value="6">Request Check Button</option>
			  <option value="7">Survey Button</option>
        <option value="8">Chat Button</option>
        <option value="9">Location Logo</option>
        <option value="10">Location Map</option>
        <option value="11">Settings Button</option>
        <option value="12">Welcome Tile</option>
			</select>
		  </div>
		</form>
	  </div>
	  <div class="modal-footer">
		<button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal"> {{element.token ? 'Save' : 'Add'}}</button>

		<span class="pull-left">
		  <button type="button" ng-click="delete()" ng-show="element.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
		</span>
		<div class="clearfix"></div>
	  </div>
	</div>
  </div>
</div>
