<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ screensaver.token ? 'Screensaver Edit' : 'New Screensaver' }}</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label>Image</label>
            <mediaselect mediatype="image/*" mediatoken="screensaver.image" mediawidth="1280" mediaheight="720" onmediaselected="imageSelected" />
          </div>
          <div class="form-group">
            <label>Video</label>
            <mediaselect mediatype="video/*" mediatoken="screensaver.video" mediawidth="1280" mediaheight="720" onmediaselected="videoSelected" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">{{ screensaver.token ? 'Save' : 'Create' }}</button>

        <span class="pull-left">
          <button type="button" ng-click="delete()" ng-show="screensaver.token" class="btn btn-danger" data-dismiss="modal">Delete</button>
        </span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
