<div class="modal">
  <div class="modal-dialog">
    <form ng-submit="save()" role="form" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{ modifier.token ? 'Modifier Category Edit' : 'New Modifier Category' }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="modifieredit-title">Title</label>
          <input id="modifieredit-title" class="form-control" ng-model="modifier.title" required maxlength="32" />
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="modifier.required" />Selection required</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="form-group">
              <label for="modifieredit-mode">Selection mode</label>
              <select id="modifieredit-mode" class="form-control" ng-model="modifier._mode">
                <option value="single" selected>Single item</option>
                <option value="multiple" selected>Multiple items</option>
              </select>
            </div>
          </div>
          <div class="col-lg-4" ng-if="modifier._mode === 'multiple'">
            <div class="form-group">
              <label for="modifieredit-limit">Selection limit</label>
              <div class="input-group">
                <input id="modifieredit-limit" ng-model="modifier.limit" ng-disabled="modifier._nolimit" type="number" min="1" step="1" max="99" class="form-control" required />
              </div>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" ng-model="modifier._nolimit" />No limit</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">{{ modifier.token ? 'Save' : 'Create' }}</button>
      </div>
    </form>
  </div>
</div>
