<div class="row">
  <div class="col-lg-12">
  	<h1 class="page-header">
      Menus
      <span class="pull-right">
        <button class="btn btn-primary" ng-click="addMenu()"><i class="fa fa-plus"></i> Create New Menu</button>
        <button class="btn btn-primary" ng-click="addMenuLoader()"><i class="fa fa-table"></i> Express Loader</button>
        <button class="btn btn-info" ng-click="duplicateMenu()" ng-show="menus.length > 0"><i class="fa fa-paste"></i> Duplicate a Menu</button>
        <!-- <button class="btn btn-info" ng-show="can_import_simplicity" ng-click="importFromSimplicity()"><i class="fa fa-arrow-circle-down"></i> Import Menu from Simplicity</button> -->
      </span>
    </h1>
  </div>
</div>

<ul class="row" ng-show="menus">
  <li class="col-lg-3 col-md-4" ng-repeat="menu in menus track by menu.token">
    <a href="#/menu/set/{{menu.token}}" class="panel tile" ng-class="{ 'panel-default': menu.parent == null, 'panel-info': menu.parent != null }">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9 panel-title">
            <div>
              {{menu.title}}
              <span class="pull-right" ng-if="menu.schedule"><i class="fa fa-clock-o" tooltip="{{menu.schedule | schedule}}"></i></span>
            </div>
          </div>
        </div>
      </div>
			<div class="panel-body">
				<div class="row text-center">
					<div>
            <span class="preview-block">
  						<img ng-show="menu.image" ng-src="{{menu.image | thumbnail:470:410}}" class="preview-image" />
              <img ng-src="{{null | placeholder:470}}" class="preview-placeholder" />
            </span>
            <!-- <img ng-repeat="promo in menu.promos" ng-src="{{promo.image.token | thumbnail:470:410:'png'}}" width="94" height="82" /> -->
					</div>
				</div>
			</div>
      <div class="panel-footer">
        <span class="pull-left">{{menu.parent == null ? 'Edit Menu' : 'Edit Subscription'}}</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </li>
</ul>

<div class="row" ng-show="subscriptions">
	<div class="col-lg-12">
		<h1 class="page-header">Available Menu Subscriptions</h1>
	</div>
</div>

<ul class="row" ng-show="subscriptions">
	<li class="col-lg-3 col-md-6" ng-repeat="subscription in subscriptions">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-9 panel-title">
						<div>{{subscription.title}}</div>
					</div>
				</div>
			</div>
      <div class="panel-body">
        <div class="row text-center">
          <div>
            <img ng-src="{{subscription.image | thumbnail:470:410:'png'}}" class="preview" />
          </div>
        </div>
      </div>
			<a ng-click="subscribe(subscription.token)">
				<div class="panel-footer">
					<span class="pull-left">Subscribe</span>
					<span class="pull-right"><i class="fa fa-cloud-download"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</li>
</ul>
