<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Main Screen Icons</h1>
  </div>
</div>

<div class="row" ng-show="!promos || promos.length === 0">
  <div class="col-lg-12">
    <p>No category or item icons selected. The default menu image will be displayed.</p>
  </div>
</div>

<ul class="row draglist" ng-show="promos" ondrag="onPromoDrag" ondragcomplete="onPromoDragComplete">
  <li class="col-lg-3 col-md-6" ng-repeat="promo in promos">
    <div class="panel panel-default">
      <div class="draglist-handle panel-heading">
        <div class="row">
          <div class="col-xs-9">
            <div>{{promo.title}}</div>
          </div>
          <div class="text-center">
            <img ng-src="{{promo.media | thumbnail:470:410:'png'}}" class="preview" />
          </div>
        </div>
      </div>
      <a ng-show="is_editable" ng-click="deletePromo(promo)">
        <div class="panel-footer">
          <span class="pull-right">Delete promo <i class="fa fa-exclamation-triangle"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </li>
</ul>
