<div class="row" ng-show="modifier">
  <div class="col-lg-12">
    <h1 class="page-header">
      {{modifier.title}}
      <span class="pull-right">
        <button class="btn btn-primary" ng-click="addItem()"><i class="fa fa-plus"></i> Create New Modifier</button>
        <button class="btn btn-info" ng-click="editModifier()"><i class="fa fa-gear"></i> Edit Modifier Category</button>
        <button class="btn btn-danger" ng-click="deleteModifier()"><i class="fa fa-trash-o"></i> Delete Modifier Category</button>
      </span>
    </h1>
  </div>
</div>

<ul class="row" ng-show="modifier">
  <li class="col-xs-6 col-md-2" ng-repeat="item in modifier.items track by item.token">
    <a ng-click="editItem(item)" class="panel panel-default tile">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-9">
            <div>{{item.title}}</div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row text-center">
          <div>
            <span class="preview-block">
              <img ng-show="item.image" ng-src="{{item.image | thumbnail:160:160}}" class="preview-image" />
              <img ng-src="{{null | placeholder:160}}" class="preview-placeholder" />
            </span>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <span class="pull-left">Edit</span>
        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
        <div class="clearfix"></div>
      </div>
    </a>
  </li>
</ul>
